<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UberEmergency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8861777F1E86E45D009C2B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>886177931E86E45D009C2B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8861779E1E86E45D009C2B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
